/*Step two WORKING!!!*/
body {
background-color: #848482;

}

/* Step4a */ 
h1, h2, h3, h4, h5, h6  {
    background-color: #b6b6b4; 
    font-weight: bolder;
    color: #292b2d;
}
/* Step4b */
.shoe {
    font-weight: bolder;

}
/* Step4c */
/* Step4d */
/* Step4e */
/* Step4f */
/* Step4g */
/* Step4h */
/* Step4i */
/* Step4j */
/* Step4k */
/* Step4l */
/* Step4m */